<template>
  <tr class="todo-item">
            <td v-for="(value,key) in todo" :key="key">{{value}}</td>
          
            <td > <button v-on:click="deleteItem">Delete</button></td>
  </tr>
</template>

<script>
export default {
  name: 'TodoItem',
  props: {
    todo:Object
  },
  methods:{
      deleteItem(){
          this.$emit("dele-todo",this.todo.id)
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
