<template>
  <div class="todo-list">
<table class="table">
    <thead>
        <tr>
            <th>userId</th>
            <th>id</th>
            <th>title</th>
            <th>compelete</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       <TodoItem
        v-for="(todo,index) in todos" 
        :todo="todo" 
        :key="index"
        @dele-todo="delteTodo"
        ></TodoItem>
       
    </tbody>
</table>
     
  </div>
</template>

<script>
import TodoItem from "./TodoItem.vue"

export default {
  name: 'TodoList',
  props: {
    todos:Array
  },
  components:{
      TodoItem
  },
  methods:{
      delteTodo(id){
          this.$emit("dele-todo",id)
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
