<template>
  <div>
    <FormElement :field="userIdPlaceHolder">
        <input v-model="title"/>
    </FormElement>
    <FormElement :field="titlePlaceHolder">
    <input v-model="userId"/>
    </FormElement>
     <button v-on:click="show">x</button>
  </div>
 
</template>

<script>
import FormElement from './FormElement.vue';
export default {
  components: {
    FormElement
  },
  props: {
    msg: String,
    
  },
  methods:{
      show(){
          console.log(this.title);
      }
  },
  data() {
    return {
      titlePlaceHolder:  "title",
      title:"",
      userIdPlaceHolder:"userId",
      userId:"",
      
    }
  }
}
</script>