
<template>
  <div class="form-element">
    <slot :value="field"></slot>
  </div>
</template>

<script>
export default {
  props: {
    field: {
      type: String,
      default: "",
    },
  },
  computed: {
    
  },
}
</script>

<style scoped>
.form-element {
  margin-bottom: 1rem
}
.empty {
  color: red
}
</style>

