<template>
  <div id="app">
    <!-- <h2>{{ number | formatNumber }}</h2>
    <AddTodo></AddTodo>
    <SearchTodo></SearchTodo>
    <TodoList :todos="todos" @dele-todo="deleTodo"></TodoList>
    <HelloWorld msg="Welcome to Your Vue.js App" />
    <div class="asd">
      <span class="keyword" v-for="(item, index) in keyword" :key="index">{{item}}</span>
    </div>
    <div class="bbb"></div> -->
        <b-form-tags
        input-id="tags-pills"
        :input-attrs="{ 'aria-describedby': 'tags-validation-help' }"
        v-model="tags"
        placeholder="add key"
        addButtonText="asd"
        :state="state"
        invalidTagText="khong duowc nha ban"
        :tag-validator="tagValidator"
        separator=" "
      ></b-form-tags>
      <!-- The following slots are for b-form-group -->
      <!-- <template #invalid-feedback>
        You must provide at least 3 tags and no more than 8
      </template> -->
  </div>
</template>

<script>
// import HelloWorld from "./components/HelloWorld.vue";
// import TodoList from "./components/TodoList/TodoList.vue";
// import SearchTodo from "./components/SearchTodo/SearchTodo.vue";
// import AddTodo from "./components/AddTodo/AddTodo.vue";
import axios from "axios";
import Vue from "vue";
import { BootstrapVue, IconsPlugin } from 'bootstrap-vue'
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
// Install BootstrapVue
Vue.use(BootstrapVue)
// Optionally install the BootstrapVue icon components plugin
Vue.use(IconsPlugin)

Vue.filter("formatNumber", function(value) {
  return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
});

export default {
  name: "App",
  components: {
    // HelloWorld,
    // TodoList,
    // SearchTodo,
    // AddTodo,
  },
  data() {
    return {
        tags: [],
        tagAdded: ['asd','fgh','jkl'],
        dirty: false,
      todos: [],
      number: 12345643543543543,
      keyword: [
        "asdasdasdas",
        "asdsadsadsad",
        "sadasdsadsad",
        "sadsadasdsadsad",
        "asdsadsadasdsa",
        "sadasdasdas",
        "sadasdsadsadsadsad",
        "sadsadsadasdsadasd",
        "asdasdasdasdasd",
        "sadasdsadasdasdas",
        // "asdasdsadsadasdasdsa",
        // "dsadsadsadsadsadsadasd",
      ],
    };
  },
  methods: {
    deleTodo(id) {
      axios
        .delete(`http://jsonplaceholder.typicode.com/todos/${id}`)
        .then((res) => {
          this.todos = this.todos.filter((item) => item.id !== id);
          console.log(res);
        })
        .catch((err) => {
          console.log(err);
        });
    },
     tagValidator(tag) {
        // Individual tag validator function
        let index = this.tagAdded.findIndex(item=>item==tag);
        console.log(index);
        // for(let i=0;i<this.tagAdded.length;i++){}
        // return tag === tag.toLowerCase() && tag.length > 2 && tag.length < 6;
         return tag !== this.tagAdded[index];
      }
  },
  created() {
    axios
      .get("http://jsonplaceholder.typicode.com/todos?_limit=10")
      .then((res) => {
        this.todos = res.data;
        console.log(res.data);
      })
      .catch((err) => {
        console.log(err);
      });
    let number = 12345;
    console.log(new Intl.NumberFormat().format(number));
  },
  mounted(){
    console.log(document.getElementsByClassName("keyword")[0].clientWidth );
    console.log(document.getElementsByClassName("keyword")[1].clientWidth );
    let x = document.getElementsByClassName("keyword");
    let length = 0;
    console.log(x)
    for(let i=0;i<10;i++){
      length+=x[i].clientWidth
    }
    console.log(length)
    console.log(document.getElementsByClassName("asd")[0].clientWidth );
    console.log(document.getElementsByClassName("asd")[0].clientHeight );
  },
    computed: {
      state() {
        // Overall component validation state
        return this.dirty ? (this.tags.length > 2 && this.tags.length < 9) : null
      }
    },
      watch: {
      // tags(newVal, oldVal) {
      //   // Set the dirty flag on first change to the tags array
      //   console.log(newVal, oldVal);
      //   this.dirty = true
      // }
    },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.asd {
  position: relative;
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 6.0em; /* (Number of lines you want visible) * (line-height) */
  text-align: justify;
  width: 400px;
}
.asd::after {
  content: ",...";
  position: absolute;
  color: #222;
  right: 15px;
  bottom: 0px;
}
.asd .keyword{
  display: inline-block;
  background-color: #2c3e50;
  color: #fff;
  padding: 3px;
  margin: 3px;
  line-height: 1.2em;
}
.bbb{
  height: 100px;
}
#app .b-form-tags .b-form-tags-list .b-from-tags-field{

}
 .b-form-tags .b-form-tags-list .b-form-tag {
    margin-top: 0.95rem;
    background: #222;
    color: #fff;
    padding: 10px;
}
#app .b-form-tags .b-form-tags-list .b-from-tags-field .b-form-tags-button{
  border: 1px solid greenyellow;
  color: greenyellow;
}
#app .b-form-tags .b-form-tags-list .b-from-tags-field .b-form-tags-button:hover{
  background-color: #fff;
}
 
</style>
